{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_authenticated() %}
    <h1>Welcome, {{ current_user.username }}!</h1>
    <hr>Credits To Spend: {{current_user.credits}}!</hr>
    <button type ="button" href="#">Give money </button>
    <button type ="button" href="#">Take money </button>
    {% else %}
    <h1>Register Yourself to Explore Us!</h1>
    <p>Please <a href="{{ url_for('register') }}">Register</a> or <a href="{{ url_for('login') }}">Login</a>.</p>
    
    {% endif %}
{% endblock %}
