
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>QR_Code</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='bootstrap.min.css')}}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='app.css')}}">
  </head>

  <body>

    <div class="container">

      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">


              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Login</button>

              <!-- Modal -->
              <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Please Login Up</h4>
                    </div>
                    <div class="modal-body">
                      <form action=" " method ="get">

                        <label for ="phone" placeholder='Mobile Number'>Mobile No.</label>
                        <input id="phone"/>
                        <br>

                        <label for ="otp">OTP</label>
                        <input id="phone"/>
                        <br>
                        <input type="Submit" value ="Submit"/>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>

                </div>
              </div>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Navbar example</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>

          <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1">Sign Up</button>

          <!-- Modal -->
          <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Please Sign Up</h4>
                </div>
                <div class="modal-body">
                  <form action=" " method ="get" class="form-horizontal">
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="email">Email:</label>
                      <div class="col-sm-5">
                        <input type="email" class="form-control" id="email" placeholder="Enter email">
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                      <label class="control-label col-sm-2" for="pwd">Mobile No.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" id="no." placeholder="Enter Number">
                      </div>
                    </div>
                    <br>
                    <br>
                    <input type="Submit" class="btn btn-primary" value ="Submit"/>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>

            </div>
          </div>

        </p>
      </div>

    </div> <!-- /container -->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
          <script src="{{url_for('static', filename='jquery.min.js')}}">

      <script src="{{url_for('static', filename='ie10-viewport-bug-workaround.js')}}" >
      <script src="{{url_for('static', filename='bootstrap.min.js')}}">
</body>
</html>
